.panel{
    padding-top: 60px;
    padding-bottom: 80px;
    .btns{
        margin-top: 20px;
        box-shadow: 0 2px 40px 0 rgba(65, 70, 76, 0.07);
        background: var(--white-color);
        padding: 20px;
        align-items: center;
    }
}