:root{
  --blue-color: rgba(15, 58, 140, 1);
  --red-color: rgba(255, 75, 95, 1);
  --gray-color: rgba(230, 234, 238, 1);
  --gray-text-color: rgba(90, 110, 133, 1);
  --border-color: #e5e7eb;
  --main-text: rgba(16, 16, 16, 1);
  --opacity-text: rgba(161, 175, 191, 0.6);
  --white-color: rgba(255, 255, 255, 1);
}
