.form {
  padding-top: 60px;
  &_blocks{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }
  .form_block {
    width: 100%;
    box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.09);
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 80px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_1{
      display: flex;
      flex-direction: column;
    }
    & h1 {
      margin: 0;
      margin-bottom: 40px;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;
      .label_1{
        margin-bottom: -15px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .form{
    &_blocks{
      flex-direction: column-reverse;
      margin-bottom: 80px;
    }
    .form_block{
      margin-bottom: 0px;
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .form {
    padding-top: 100px;
  }
}
@media screen and (max-width: 420px){
  .form{
    .form_block{
      & h1{
        text-align: center;
      }
    }
  }
}
