.marker {
    background-color: rgb(29,70,136);
    background-size: cover;
    width: 25px;
    color: white;
    height: 25px;
    border-radius: 50%;
    border: 3px solid rgb(227,30,37);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }