.home{
  padding-top: 60px;
  padding-bottom: 80px;
  .blocks{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 10px;
    .block_1{
      max-width: 800px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 1183px){
  .home{
    .blocks{
      flex-direction: column;
      gap: 30px;
      .block_1{
        max-width: 100%;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .home{
    padding-top: 100px;
  }
}