header {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 40px 0 rgba(65, 70, 76, 0.07);
  background: var(--white-color);
  .header_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_header {
      display: flex;
      align-items: center;
      gap: 40px;
      .img_header {
        height: 14.7px;
      }
      .text_header {
        display: flex;
        align-items: center;
        gap: 15px;
        & span {
          color: var(--main-text);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        & a {
          color: var(--main-text);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .auth_header {
      display: flex;
      align-items: center;
      gap: 10px;
      .link_header {
        color: var(--blue-color);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
  .auth_header_line {
    height: 1.25rem;
    width: 2px;
    background: var(--border-color);
  }
}
.burger {
  width: 2rem;
  height: 2rem;
}
.auth_new{
  display: flex;
  align-items: center;
  gap: 30px;
}
.logout{
  color: var(--blue-color);
}

@media screen and (max-width: 768px) {
  header {
    padding: 1.2rem 0;
    position: absolute;
    width: 100%;
  }
}
