.td {
  padding: 8px;
}

.tr {
  height: 55px;
  text-align: center;
}

.th {
  background-color: #f2f2f2;
}

.tr:nth-child(even) {
  background-color: #e5e5e5;
}

.tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 650px) {
  .td{
    font-size: 12px;
    padding: 0;
  }
  th{
    &:first-child{
      width: 58px !important;
    }
  }
}
@media screen and (max-width: 500px) {
  .td{
    font-size: 10px;
  }
}