.form{
    padding-top: 80px;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    .form_block{
      width: 100%;
      box-shadow: 0 2px 15px 0 rgba(52,82,112,.09);
      border-radius: 5px;
      padding: 40px;
      margin-bottom: 80px;
      & h1{
        margin: 0;
        font-size: 32px;
        margin-bottom: 40px;
      }
      .inputs{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
      }
    
    }
  }