.input_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .input {
    display: block;
    width: 100%;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    color: #484848;
    border-radius: 8px;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    padding: 15px 20px;
    font-size: 16px;
    &::placeholder {
      color: var(--opacity-text);
    }
  }

  .label {
    font-size: 14px;
    color: var(--main-color)
  }
}

@media screen and (max-width: 992px) {
  .input_form{
    .input{
      font-size: 14px;
      &::placeholder{
        font-size: 14px;
      }
    }
  }
}