.tasks {
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.09);
  border-radius: 5px;
  .task {
    display: flex;
    flex-direction: column;
    .text {
      display: flex;
      min-height: 50px;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 20px;
      box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.09);
      // border-radius: 5px;
      & p {
        color: var(--blue-color);
      }
      .route {
        display: flex;
        gap: 10px;
        align-items: center;
        & img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        .line {
          height: 1.25rem;
          width: 2px;
          background: var(--border-color);
        }
        & span {
          color: var(--blue-color);
          cursor: pointer;
        }
      }
    }
  }
}
.error {
  color: var(--red-color);
  padding: 20px 0;
  text-align: center;
}
.errorEnter {
  opacity: 0.01;
}

.errorEnterActive {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.errorExit {
  opacity: 1;
}

.errorExitActive {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

.subTaskExitActive {
  opacity: 0.01;
  transform: translateX(150px);
  transition: opacity 350ms ease-in, transform 350ms ease-in;
}

.add_sub_task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  // box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.05);
  border-radius: 5px;
  & img{
    display: block;
    margin: 0 auto;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 650px) {
  .tasks{
    box-shadow: unset;
    .task{
      .text{
        // border: 1px solid var(--border-color);
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .tasks{
    .task{
      .text{
        // border: 1px solid var(--border-color);
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}