.tasks {
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.09);
  border-radius: 5px;
  .task {
    display: flex;
    flex-direction: column;
    .text {
      display: flex;
      min-height: 50px;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 100%;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 20px;
      box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.09);
      // border-radius: 5px;
      & p {
        color: var(--blue-color);
      }
      .route {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
        & span {
          color: var(--blue-color);
        }
      }
    }
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-out{
  0%{
    opacity: 1;
    transform: translateX(0px);
  }
  100%{
    opacity: 0;
    transform: translateX(100px);
  }
}

.sub_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 15px 0 rgba(52, 82, 112, 0.05);
  border-radius: 5px;
  &.sub_task-enter-active{
    animation: fade-in 500ms forwards;
  }
  &.sub_task-exit-active {
    animation: fade-out 500ms forwards;
  }
  & span {
    &:last-child {
      color: var(--opacity-text);
    }
  }

  .state {
    display: flex;
    align-items: center;
    gap: 20px;

    & span {
      color: var(--opacity-text);
    }

    .checkbox_items {
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }
}
