.btn{
  font-weight: 500;
  background: var(--red-color);
  text-align: center;
  color: var(--white-color);
  height: 3.5rem;
  width: 100%;
  border: 1px solid var(--red-color);
  border-radius: 8px;
  font-size: 16px;

  &:hover{
    background-color: rgb(211, 62, 80);
  }

  &:focus{
    background-color: rgb(190, 56, 72);
  }

}
@media screen and (max-width: 992px) {
  .btn{
    font-size: 14px;
  }
}